.title{
	background-color:#FF8C00;
	color:#fff;
}
.logout{
	text-align:right;
	font-size:20px;
	font-weight: bold;
}

.userdelete{
	text-align:center;
}

.container{
	margin-bottom:20px;
}
#deleteId{
	width:100px;
}

h4{
	font-weight: bold;
}
