
.button{
  text-align: center;
}
.expPass{
	font-size: xx-small;
	border-top : none;
}
.userPass{
	border-bottom: none;
}
.errorMessage{
	color : red;
}
ul{
	list-style: none;
}
.errorMail{
	color : red;
	font-size: small;
}
.signUp{
	font-size: xx-large;
}