/*TOP画面用ナビゲーションの設定*/
.navi{
 padding: 0;
 margin: 0;
 background-color: #FFA07A;
 display: table;/*ナビをtable形式で表示*/
 text-align:center; /*文字を中央に表示*/
 width: 100%;　/*contenorと大きさを合わせて表示*/
}
/*セルの右側にボーダーを表示させる*/
.navi li{
 border-right: 1px solid #fff;
 display: table-cell;
 vertical-align: middle;
}
/*最後のボーダーを消すらしいが利いてない*/
.navi li:last-child{
 border-right: 0;
}
/*リストの中身の設定*/
.navi li a {
 text-align: center;
 color: #fff;
 display: block;
 font-size: 40px;
 text-decoration: none;
 padding: 10px;
}

.link div{
  display: block;
}

/*新規登録・ログインのボタン*/
.createUser{
  height:300px;
  font-weight:bold;
  border:1px solid #F38605;
  margin-top: 10px;
  margin-left: 8px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFF;
}
.loginUser{
  height:300px;
  font-weight:bold;
  border:1px solid #F38605;
  margin-top: 10px;
  margin-left: 8px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFF;
}
.oauthUser{
  height:300px;
  font-weight:bold;
  border:1px solid #F38605;
  margin-top: 10px;
  margin-left: 8px;
  border-radius:5px;
  padding: 5px;
  background-color:#FFF;
}

.button{
  text-align: center;
}


/*新規登録ボタン*/
.signUpButton{
  width:150px;
  color:#ffffff;
  background:#F38605;
  font-size:25px;
  font-weight:bold;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #D2691E;
  padding:;
  border-radius:15px;　
  }
  /*googlemap ボタン*/
  .googleMapButton{
  width:40px;
  color:#ffffff;
  background:#F38605;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #D2691E;
  padding:12px 0 8px 0;
  border-radius:50%;
  margin-top:10px;
  }

/*login ボタン*/
  .loginButton{
  width:80px;
  height:30px;
  color:#ffffff;
  background:#F38605;
  font-size:15px;
  font-weight:bold;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #D2691E;
  border-radius:5px;
  }
/*カーソルが上に来た際の色変化*/
a.new:hover {
  background: #FFD700;
}


/*ログインボタン*/
.login{
  width:180px;
  color:#ffffff;
  background:#32CD32;
  font-size:28px;
  font-weight:bold;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #228B22;
  padding:12px 0 8px 0;
  border-radius:5px;　
  }
  
  .emailError
  {
  color:red;
  }
  
  .IdError
  {
  color:red;
  }
  
  .aouthEmail
  {
  color:red;
  }

/*カーソルが上に来た際の色変化*/
a.login:hover {
  background:#ADFF2F;
}

/*SNSアイコンの大きさ設定*/
img.tw{
  width: 50px;
  height: auto;
}
img.fb{
  width: 50px;
  height: auto;
}
img.gg{
  width: 50px;
  height: auto;
}


.clear{
    clear: both;
}

.howto{
  display: block;
  border:1px solid #F38605;
  margin-top:10px;
  background-color:#FFF;
}

.access{
  display: block;
  padding:10px 10px;
  border:1px solid #F38605;
  margin-top:10px;
  background-color:#FFF;
}

.menuTabDoubleLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 5px;
	border-color:#F38605;
	border-style:solid;
	background:#FFDBC9;
	color:#FF4F02;
	line-height:140%;
	font-weight:bold;
	text-align:left;
	width:320px;
}

/*埋め込んだGoogleマップの大きさを指定*/
 .map{
 width: 300px;
 height: 300px;
 margin: 50px;
}
